
.ipynb_checkpoints/*
.DS_Store
.DS_Store
.ipynb_checkpoints/IMDB - How to Make The Best Movies Part 2 - Exploratory Data Analysis (EDA)-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/IMDB - How to Make The Best Movies Part 2 - Exploratory Data Analysis (EDA)-checkpoint.ipynb
.DS_Store
.DS_Store
.DS_Store
Data/.DS_Store
.DS_Store
Data/name_basics.csv.gz
.DS_Store
.DS_Store
